<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
   
            <div class="form-group">
                <h1> <%= job.title %> </h1>

                <h2> <%= organization %> </h2>
                
                <p> Job Description </p>
                <p> <%= job.description %> </p>
                <p> Expectations and Qualifications </p>
                <p> <%= job.expectations %> </p>
                <form method="POST" action="/apply_for_job/<%= job.id%>">
                    <input type="hidden" name="email" value="<%= email%>">
                    <button type="submit" class="btn btn-success" name="organization" value="<%= organization %>">Apply Now</button>
                </form>
            </div>
            
    <a class="btn btn-light btn-lg" href="/home" role="button">Back To Home</a>
  </div>
</div>

<%- include('partials/footer') %>