
<%- include('../../partials/header') %>
    <!-- <style>
        .row {
            margin: 5px;
        }
        
        .top {
            border: 3px solid black;
            padding: 10px;
        }
        
        .question {
            border: 3px solid black;
        }
        
        textarea {
            width: 57vw;
            height: 35vw;
            background-color: black;
            color: white;
        }
        
        select {
            border: none;
        }
    </style> -->
    <div class="wrap-no">
    <div class="container test mul">
        <div class="row top">
            <div class="col">
                <p>
                    <%= username%>
                </p>
            </div>
            <div class="col-3">
                <form method="POST" action="/getlanguage/<%=jobId%>" id="input">
                    <label for="languages">Choose a language:</label>
                    <select name="languages" id="languages">
                  <option name="option" value="c">C</option>
                  <option name="option" value="cpp">Cpp</option>
                  <option name="option" value="java">Java</option>
                  <option name="option" value="py">Python</option>
                </select>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col coding-question">
                <h5>
                    <%=probname%>
                </h5>
                <p>
                    <%=description%>
                </p>
            </div>
            <form>
                <div class="col-8 input">
                    <label for="inputs">Input:</label><br>
                    <textarea name="inputs" form="input"></textarea>
                    <br>
                    <div class="coding-submit">
                        <input class="btn btn-success" type="submit" value="Submit" form="input">
                    </div>
                </div>
            </form>

        </div>
    </div>
    </div>
</body>

</html>