<%- include('../../partials/header') %>
    <div class="container">

    <form action="/give_test/<%=jobId%>" method="POST">
        <%questions.forEach((question)=>{%>
            <div class="question form-group">
                <h6>Question</h6>
                <p>
                    <%=question.question%>
                </p>
                <hr>
                <label class="op form-control">
                <input type="radio" id="op1" name="<%=question.question%>" class="radio form-control" value="<%=question.op1%>">
                <%=question.op1%>
                </label>
                <br>
                <label class="op form-control">
                <input type="radio" id="op2" name="<%=question.question%>" class="radio form-control" value="<%=question.op2%>">
                <%=question.op2%></label>
                <br>
                <label class="op form-control">
                <input type="radio" id="op3" name="<%=question.question%>" class="radio form-control" value="<%=question.op3%>">
                <%=question.op3%></label>
                <br>
                <label class="op form-control">
                <input type="radio" id="op4" name="<%=question.question%>" class="radio form-control" value="<%=question.op4%>">
                <%=question.op4%></label>
                <br>
            </div>

            <%})%>
                <button type="submit" class="btn btn-dark">Submit</button>
    </form>
    </div>


    <%- include('../../partials/footer') %>