<%- include('../../partials/header') %>

    <div class="jumbotron text-center">
        <div class="container">
            <i class="fas fa-key fa-6x"></i>
            <h1 class="display-3">All Job Opportunities</h1>
            <form class="form-inline" action="/search_for_seeker" method="POST">
                <input class="form-control mr-sm-2" name="search" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
            <%allJobsOfCompany.forEach((jobs) => {%>
                <%jobs.jobs.forEach((job) => {%>
                    <hr>
                    <div class="form-group">
                        <p>Organization</p>
                        <p>
                            <%= jobs.organization %>
                        </p>
                        <p>Title</p>
                        <p>
                            <%= job.title %>
                        </p>

                        <form method="POST" action="/view_job/<%= job.id%>">
                            <input type="hidden" name="email" value="<%= jobs.email%>">
                            <button type="submit" class="btn btn-info" name="organization" value="<%= jobs.organization %>">View Job</button>
                        </form>
                    </div>
                    <br>
                    <%})%>
                        <%});%>
                            <hr>
                            <a class="btn btn-light btn-lg" href="/home" role="button">Back To Home</a>
        </div>
    </div>

    <%- include('../../partials/footer') %>