<%- include('../../partials/header') %>
<div class="wrap">
<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">All my Job Postings</h1>
    <form class="search form-inline" action="/search_for_recruiter" method="POST">
        <input class="form-control mr-sm-2" name="search" type="search" placeholder="Search Job Description" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <%jobs.forEach((job) => {%>
        <hr>
        <!-- <div class="form-group">
            <b>Title</b>
            <p> <%= job.title %> </p>
            <b> Job Description </b>
            <p> <%= job.description %> </p>
            <b> Expectations and Qualifications </b>
            <p> <%= job.expectations %> </p>

            <form method="POST" action="/view_applicants/<%= job.id%>">
                <button type="submit" class="btn btn-info" >View Applicants</button>
            </form>
        </div> -->
        <div class="row">
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title"> <%= job.title %> </h5>
                <hr>
                <b> Job Description </b>
                <p> <%= job.description %> </p>
                <b> Expectations and Qualifications </b>
                <p> <%= job.expectations %> </p>
                <form class="choose" method="POST" action="/view_applicants/<%= job.id%>">
                  <button type="submit" class="btn btn-info" >View Applicants</button>
                </form>
                <form class="choose" method="POST" action="/test_create/<%=job.id%>">
                    <button type="submit" class="btn btn-info">Create test</button>
                </form>
                <form class="choose" method="POST" action="/codingtest_create/<%=job.id%>">
                  <button type="submit" class="btn btn-info">Create coding test</button>
              </form>
              </div>
            </div>
          </div>
      </div>
        <br>
    <%});%>
    <hr>
    <a class="btn btn-dark btn-lg" href="/create_job" role="button">Create New Job</a>
    <a class="btn btn-light btn-lg" href="/home" role="button">Back To Home</a>
  </div>
</div>
</div>
<%- include('../../partials/footer') %>
