<%- include('../../partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">All my Job Postings</h1>
    <form class="form-inline" action="/search_for_recruiter" method="POST">
        <input class="form-control mr-sm-2" name="search" type="search" placeholder="Search Job Description" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <%jobs.forEach((job) => {%>
        <hr>
        <div class="row form-group">
            <p>Title</p>
            <p> <%= job.title %> </p>
            <p> Job Description </p>
            <p> <%= job.description %> </p>
            <p> Expectations and Qualifications </p>
            <p> <%= job.expectations %> </p>

            <form method="POST" action="/view_applicants/<%= job.id%>">
                <button type="submit" class="btn btn-info" >View Applicants</button>
            </form>
        </div>
        <br>
    <%});%>
    <hr>
    <a class="btn btn-dark btn-lg" href="/create_job" role="button">Create New Job</a>
    <a class="btn btn-light btn-lg" href="/home" role="button">Back To Home</a>
  </div>
</div>

<%- include('../../partials/footer') %>